body{
   background-color: #ffa500;
  background-image: url('./components/bar1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.App{
color: white;
}


.Header {
background-color: black;
padding: 10px;
letter-spacing: 5px

}

.Footer {
  background-color: Black;
  color: white;
  padding: 15px;
  font-size: 33px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.cocktails{
  color: blue;
  background-color: white;
  border: 10px solid black;
  padding: 10em;
}